LOCAL_DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'akava_site',
        'USER': '',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
    }
}