{%  load blog_tags %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}blog/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}blog/css/all.css" rel="stylesheet" media="screen">

    {% block extrahead %}{% endblock %}
</head>
<body>
<script src="{{ STATIC_URL }}blog/js/jquery.min.js"></script>
<script src="{{ STATIC_URL }}blog/js/bootstrap.min.js"></script>


<div class="container">
<div id="header" class="row">
    <div class="span1 offset2"><img id="face" src="{{ STATIC_URL }}blog/img/face.png" /></div>
    <div class="span5">
        <h2>
            <a href="/">Andrei Kavaleu's blog</a>
            <a href="{% url 'feed' %}" ><img src="{{ STATIC_URL }}blog/img/rss-icon.png" /></a>
        </h2>
        *)*)$#(&$##)$)(@*#)%&)@*$)(&%)(*)_#$
    </div>
    <div id="nav-menu" class="span3 offset1">
        {% url 'home' as home_url %}
        {% url 'blog:root' as blog_url %}
        {% url 'about_me' as about_me_url %}
        <ul class="nav nav-pills">
            <li {% if request.path == home_url %}class="active"{% endif %}>
                <a href="{{ home_url }}">Home</a>
            </li>
            <li {% if blog_url in request.path %}class="active"{% endif %}>
                <a href="{{ blog_url }}">Blog</a>
            </li>
            <li {% if request.path == about_me_url %}class="active"{% endif %}>
                <a href="{{ about_me_url }}">About me</a>
            </li>
        </ul>
    </div>
</div>

<div id="content" class="row">
    <div class="span8 offset1">
        {% block body %}{% endblock %}
    </div>
    <div class="span3">
        <h4>Featured</h4>
        {% load_featured_entries as featured_entries %}
        {% for f in featured_entries %}
            <p><a href="{{ f.get_absolute_url }}">{{ f.title|safe }}</a></p>
        {% endfor %}
    </div>
</div>

<div id="footer" class="row">

</div>
</div>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39452572-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>
</html>