{% extends 'blog/base.html' %}
{% block title %}
    {{ entry.title|safe }}
{% endblock %}

{% block body %}
    <h3>
        <a href="{{ entry.get_absolute_url }}">{{ entry.title|safe }}</a>
        {% if entry.featured  %}<img class="blue-star" src="{{ STATIC_URL }}blog/img/blue-star-icon.png" title="featured" />{% endif %}
        {% ifequal entry.status 2 %} *DRAFT* {% endifequal %} {% ifequal entry.status 3 %} *HIDDEN* {% endifequal %}
    </h3>
    <div>
        {{ entry.text|safe }}
    </div>

    <p class="entry-meta">{% include 'blog/tags.html' %}</p>
    {% include "blog/comments.html" %}
{% endblock %}