{% extends 'blog/base.html' %}

{% block title %}
    Andrei Kavaleu's Blog
{% endblock %}

{% block body %}

<div>
{% for e in entries %}
    <div class="entry">
        <h3>
            <a href="{{ e.get_absolute_url }}">{{ e.title|safe }}</a>
            {% ifequal e.status 2 %} *DRAFT* {% endifequal %} {% ifequal e.status 3 %} *HIDDEN* {% endifequal %}
        </h3>
        <div>
            {{ e.short_text|safe }}
            {% if e.text != e.shsort_text %}
                <a href="{{ e.get_absolute_url }}">Read more &rarr;</a>
            {% endif %}
        </div>
    </div>
    <hr/>
{% endfor %}
</div>
{% endblock %}