{% extends 'blog/base.html' %}

{% block title %}
    Andrei Kavaleu's Blog
{% endblock %}

{% block body %}

<div>
{% for entry in entries %}
    <div class="entry">
        <h3>
            <a href="{{ entry.get_absolute_url }}">{{ entry.title|safe }}</a>
            {% if entry.featured  %}<img class="blue-star" src="{{ STATIC_URL }}blog/img/blue-star-icon.png" title="featured" />{% endif %}
            {% ifequal entry.status 2 %} *DRAFT* {% endifequal %} {% ifequal entry.status 3 %} *HIDDEN* {% endifequal %}
        </h3>
        <div>
            {{ entry.short_text|safe }}
            {% if entry.text != entry.short_text %}
                <a href="{{ entry.get_absolute_url }}">Read more &rarr;</a>
            {% endif %}

            {% include 'blog/tags.html' %}
        </div>
    </div>
    <hr/>
{% endfor %}
</div>
{% endblock %}